.key {
    font-family: monospace;
    font-family: monospace;
    font-weight: bold;
    color: black;
    margin-right: 10px;
}

.value {
    font-weight: normal;
    color: green;
}

.mark-string {
    /*background-color: yellow;*/
}

.checkbox, .radio {
    display: inline-block;
    margin-left: 10px;
    margin-right: 20px;
}
