body {
  font-family: sans-serif;
  font-size: 13px;
  line-height: 17px;
}

input {
  padding: 5px;
}

.result {
  font-family: monospace;
  margin: 10px 10px 10px;
}

.key {
  font-family: monospace;
  font-weight: bold;
  color: black;
  margin-right: 10px;
}

.value {
  font-weight: normal;
  color: green;
}

.mark-string {
  background-color: yellow;
}

.link {
  font-size: 15px;
}