body {
    font-family: sans-serif;
}

input {
    padding: 5px;
}

.result {
    margin: 10px 10px 10px;
}

.key-value {
    color: #555;
    font-size: 13px;
}

.mark-string {
    color: #000;
    font-weight: bold;
}

.link {
    font-size: 15px;
}